<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
    
    <title>MURDER HYPE</title>
    
    <!-- Bootstrap core CSS -->
    <link href="../static/dist/css/bootstrap.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="../static/dist/css/carousel.css" rel="stylesheet">
  </head>
  <!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Murder Hype</a>
        </div>
        <div class="navbar-collapse collapse">
	  <ul class="nav navbar-nav">
	    <li>
	      <a href="{{url_for('home')}}">Home</a>
	    </li>
	    <li>
	      <a href="{{url_for('leaderboard')}}">Leaderboard</a>
	    </li>
	    <li>
	      <a href="{{url_for('forums')}}">Forums</a>
	    </li>
	    {% if 'user' in session %}
	    <li>
	      <a href="{{url_for('profile')}}">Profile</a>
	    </li>
	    <li></li>
	    <li></li>
	    <li>
	      <a href="{{url_for('logout')}}">Log Out</a>
	    </li>
	    {% endif %}
	  </ul> 
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    
    <!--- FORM 
=====================================-->
    <div class="container" style="margin-top: 80px">
      <div class="page-canvas">
	<div style="border-bottom-style:solid; border-bottom-width: 1px">
	  <h1>Add your kills.</h1>
	</div>
	<p>
	Show off your hard work.
	</p>
	<form class="form-horizontal" role="form" method="POST">
	  <font color="#FF0000">{{em}}</font>
	  <div class="form-group">
	    <label for="input" class="col-sm-2 control-label">Full name</label>
	    <div class="col-sm-5">
	      <input type="text" class="form-control" name="victim" placeholder="Name of the victim">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="input" class="col-sm-2 control-label">Method</label>
	    <div class="col-sm-5">
	      <input type="text" class="form-control" name="method" placeholder="How'd you kill 'em?">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="input" class="col-sm-2 control-label">Level of Difficulty</label>
	    <div class="col-sm-5">
	      <input type="text" class="form-control" name="diff" placeholder="Easy? Hard?">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="input" class="col-sm-2 control-label">Description</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" name="detail" placeholder="Tell us briefly about it">
	    </div>
	  </div>
	  <p></p>
	  <div class="tos">
	    <div class="stroller" style="height: 400px;">
	      <p class="header">By clicking the  button, you agree to the terms below:</p>
	      <div class="import">
		<h3>Terms of Service</h3>
		<p>
		  Your kills will be confirmed through various ways by Murder Hype Corp. If we find that you have lied about your kill, we will terminate you. 
		</p>
		
	  </div>
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-default">Submit</button>
	    </div>
	  </div>
	</form>
      </div>
    </div>
	
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../static/dist/js/bootstrap.min.js"></script>
    <!-- <script src="../../docs-assets/js/holder.js"></script> -->
  </body>
  
  
</html>
