<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
    
    <title>MURDER HYPE</title>
    
    <!-- Bootstrap core CSS -->
    <link href="../static/dist/css/bootstrap.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="../static/dist/css/carousel.css" rel="stylesheet">
  </head>
  <!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Murder Hype</a>
        </div>
        <div class="navbar-collapse collapse">
	  <ul class="nav navbar-nav">
	    <li>
	      <a href="{{url_for('home')}}">Home</a>
	    </li>
	    <li>
	      <a href="{{url_for('leaderboard')}}">Leaderboard</a>
	    </li>
	    <li>
	      <a href="{{url_for('forums')}}">Forums</a>
	    </li>
	    <li>
	      <a href="{{url_for('addKill')}}">Add Kill</a>
	    </li>
	    {% if 'user' in session %}
	    <li>
	      <a href="{{url_for('profile')}}">Profile</a>
	    </li>
	    <li></li>
	    <li></li>
	    <li>
	      <a href="{{url_for('logout')}}">Log Out</a>
	    </li>
	    {% endif %}
	  </ul> 
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- JUMBOTRON
	 ======================================== -->
    <div class="container" style="margin-top: 80px">
      <div class="jumbotron">
	<h1>Find a lawyer here.</h1>
	<p>
	  Using Yelp.
	</p>
      </div>
      
      
      <!-- Search
	   =========================================-->
       <form class="form-inline" role="form">
	<div class="form-group">
	  <label class="sr-only" for="exampleInputEmail2">Check zip code</label>
	  <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Zip Code">
	</div>
	<button type="submit" class="btn btn-default">Search</button>
      </form>
       
       <br>
       <br>
       
        <div class="large-8 columns">
          <div class="row">
                    {% if lawyers is defined %}
                        {% for lawyer in lawyers %}
            <div class="large-4 small-6 columns">
                          <a href="{{ lawyer['url'] }}"><font face = "purisa" color = "red" size = "6">Pew Pew!</font>
<p>
                <img src="{{ lawyer['image_url'] }}">
                          </a>
              <div class="panel">
                <h5>{{ lawyer['name'] }}</h5>
                <h6 class="subheader">
                                  <img src={{ lawyer['rating_img_url_small'] }}>
                                </h6>
              </div>
            </div>
                        {% endfor %}
                        {% endif %}
          </div>

    </div>
    
    <!-- Bootstrap core JavaScript
	 ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../static/dist/js/bootstrap.min.js"></script>
    <!-- <script src="../../docs-assets/js/holder.js"></script> -->

  </body>
</html>
