<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
    
    <title>MURDER HYPE</title>
    
    <!-- Bootstrap core CSS -->
    <link href="../static/dist/css/bootstrap.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="../static/dist/css/carousel.css" rel="stylesheet">
  </head>
  <!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Murder Hype</a>
        </div>
        <div class="navbar-collapse collapse">
	  <ul class="nav navbar-nav">
	    <li>
	      <a href="{{url_for('home')}}">Home</a>
	    </li>
	    <li>
	      <a href="{{url_for('leaderboard')}}">Leaderboard</a>
	    </li>
	    <li>
	      <a href="{{url_for('forums')}}">Forums</a>
	    </li>
	    {% if 'user' in session %}
	    <li>
	      <a href="{{url_for('addKill')}}">Add Kill</a>
	    </li>

	    <li>
	      <a href="{{url_for('profile')}}">Profile</a>
	    </li>
	    <li></li>
	    <li></li>
	    <li>
	      <a href="{{url_for('logout')}}">Log Out</a>
	    </li>
	    {% endif %}
	  </ul> 
        </div><!--/.navbar-collapse -->
      </div>
    </div>

 <!-- JUMBOTRON
	 ======================================== -->
    <div class="container" style="margin-top: 80px">
      <div class="jumbotron">
	<h1>Converge with your fellow peers.</h1>
	<p>
	  Want someone dead but don't want to do it? Want some advice, tips, pointers? Just ask.
	</p>
	
      </div>
      
      <!-- Single thread
	   =================================== -->
      <div class="panel panel-default">
	<div class="panel-heading">
	  <h3 class="panel-title">{{OC[0]['title']}}  by: {{OC[0]['author']}} at: {{OC[0]['time']}}</h3>
	</div>
	<div class="panel-body">
	  {{OC[0]['post']}}
	</div>
      </div>

      {% for x in com %}
      <div class="panel panel-default">
	<div class="panel-heading">
	  <h3 class="panel-title">{{x['author']}}  {{x['time']}}  {{x['likes']}}</h3>
	</div>
	<div class="panel-body">
	  {{x['response']}}
	</div>
      </div>


      {% endfor %}

      {% if "user" in session %}
      <form role="form" method="POST">
	<div class="form-group">
	  <label for="exampleInputEmail1">Add to thread</label>
	  <textarea class="form-control" rows="8" name="response" placeholder="Say something"></textarea>
	</div>

      
      <p><button class="btn btn-primary btn-lg" name="btn" type="submit">Comment</button></p>
      </form>      
      {% endif %}
      <!-- Bootstrap core JavaScript
	   ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../static/dist/js/bootstrap.min.js"></script>
    <!-- <script src="../../docs-assets/js/holder.js"></script> -->

  </body>
</html>
